@font-face {
  font-family: 'Nastaligh';
  src: url("../../assets/Fonts/IranNastaliq/IranNastaliq/IranNastaliq.ttf") format('ttf');
  font-weight: normal;
  font-style: normal;
}



// Google fonts
// English Font
//Niconne: CSS class
.niconne-regular {
  font-family: "Niconne", serif;
  font-weight: 400;
  font-style: normal;
}
//Pacifico: CSS class

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

.playwrite-vn{
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
//persian Fonts

.amiri-regular-italic {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: italic;
}
// lateef
.lateef-bold {
  font-family: "Lateef", serif;
  font-weight: 700;
  font-style: normal;
}
.lateef-light {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
}

.lateef-regular {
  font-family: "Lateef", serif;
  font-weight: 400;
  font-style: normal;
}

.lateef-medium {
  font-family: "Lateef", serif;
  font-weight: 500;
  font-style: normal;
}