@font-face {
  font-family: 'Nastaligh';
  src: url('../../assets/Fonts/IranNastaliq/IranNastaliq/IranNastaliq.ttf') format('ttf');
  font-weight: normal;
  font-style: normal;
}


.Nastaligh {
  font-family: 'Nastaligh', sans-serif;
}
// Google fonts
// English Font
.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}
