:root {
    --primary-black: #213555;
    --primary-light: #F5EFE7;
}
body::-webkit-scrollbar {
    display: none;
}
.body--dark {
    background-color: var(--primary-black);
    color: var(--primary-light);
}
.dir--rtl{
    direction: rtl
}
@import "./Fonts";
@import "../../components/Header/header";
@import "../../components/AboutMe/AboutMe";
@import "../../components/AboutMyJob/AboutMyJob";
@import "../../components/MySkills/MySkils";
@import "../../components/projects/Projects"




