:root {
    --primary-black: #213555;
    --primary-light: #f5efe7;
}
body::-webkit-scrollbar {
    display: none;
}
main{
    margin: 0 auto;
}
.body--dark {
    background-color: var(--primary-black);
    color: var(--primary-light);
    
}
.dir--rtl{
    direction: rtl
}
@media (max-width:480px) {
    
}
@media (max-width:768px) {
    
}
@media (max-width:1279px) {
    
}
@media (min-width:1280px) {
    
}
@import "./Fonts";
@import "../../components/Header/header";
@import "../../components/NameTitle/NameTitle";
@import "../../components/AboutMe/AboutMe";
@import "../../components/MySkills/MySkils";
@import "../../components/projects/Projects";
@import "../../components/footer/footer"



