.AboutMyJob {
  margin: 128px 40px;
  border-radius: 20px;
  padding: 5% 0;
  background-color: var(--primary-light);
  color: var(--primary-black);
}
.AboutMyJob .MyJob__h1 {
  font-size: 30px;
}
.AboutMyJob .MyJob__h3 {
  font-size: 20px;
  font-family: "Gulzar", serif;
}
.AboutMyJob .MyJob__hr {
  width: 2px;
  height: 90%;
  border-radius: 20px;
  background-color: var(--primary-black);
}
.AboutMyJob .MyJob-description {
  width: 40%;
  overflow-y: scroll;
}
.AboutMyJob .MyJob-description::-webkit-scrollbar {
  display: none;
}
.AboutMyJob .MyJob-description__p {
  margin-top: 10px;
  line-height: 25px;
}