:root {
  --primary-black: #213555;
  --primary-light: #F5EFE7;
}

body::-webkit-scrollbar {
  display: none;
}

.body--dark {
  background-color: var(--primary-black);
  color: var(--primary-light);
}

.dir--rtl {
  direction: rtl;
}

@font-face {
  font-family: "Nastaligh";
  src: url("../../assets/Fonts/IranNastaliq/IranNastaliq/IranNastaliq.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
.niconne-regular {
  font-family: "Niconne", serif;
  font-weight: 400;
  font-style: normal;
}

.pacifico-regular {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}

.playwrite-vn {
  font-family: "Playwrite VN", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.amiri-regular-italic {
  font-family: "Amiri", serif;
  font-weight: 400;
  font-style: italic;
}

.lateef-bold {
  font-family: "Lateef", serif;
  font-weight: 700;
  font-style: normal;
}

.lateef-light {
  font-family: "Lateef", serif;
  font-weight: 300;
  font-style: normal;
}

.lateef-regular {
  font-family: "Lateef", serif;
  font-weight: 400;
  font-style: normal;
}

.lateef-medium {
  font-family: "Lateef", serif;
  font-weight: 500;
  font-style: normal;
}

.header {
  width: 100%;
  position: fixed;
  background-color: var(--primary-light);
  color: var(--primary-black);
}
.header .headerTitle__h1 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header .HeaderLink {
    display: none;
  }
  .header .HeaderMenu {
    display: inline-block;
    /* Position the content inside the overlay */
    /* The navigation links inside the overlay */
    /* When you mouse over the navigation links, change their color */
    /* Position the close button (top right corner) */
  }
  .header .HeaderMenu .overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0, 0, 0); /* Black fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
  }
  .header .HeaderMenu .overlay-content {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
  }
  .header .HeaderMenu .overlay a {
    width: -moz-fit-content;
    width: fit-content;
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
  }
  .header .HeaderMenu .overlay a:hover, .header .HeaderMenu .overlay a:focus {
    color: #f1f1f1;
  }
  .header .HeaderMenu .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
  }
}
@media (min-width: 769px) {
  .header .HeaderLink {
    display: flex;
  }
  .header .HeaderMenu {
    display: none;
  }
}
.AboutMe {
  width: 100%;
}
.AboutMe .leftSide .AboutMePhoto img {
  width: 500px;
  height: 500px;
  border-radius: 20px;
}
.AboutMe .rightSide .AboutMeText {
  width: 30%;
  direction: rtl;
}
.AboutMe .rightSide .AboutMeText__h1 {
  font-size: 4rem;
}
.AboutMe .rightSide .AboutMeText .AboutMeText__p {
  font-size: 1.2rem;
}
.AboutMe .rightSide .DownloadResume {
  margin-top: 20px;
}
.AboutMe .rightSide .DownloadResume .DownloadResume__btn {
  background-color: var(--primary-light);
  color: var(--primary-black);
  border-radius: 5px;
}

.AboutMyJob {
  margin: 128px 40px;
  border-radius: 20px;
  padding: 5% 0;
  background-color: var(--primary-light);
  color: var(--primary-black);
}
.AboutMyJob .MyJob__h1 {
  font-size: 30px;
}
.AboutMyJob .MyJob__h3 {
  font-size: 20px;
  font-family: "Gulzar", serif;
}
.AboutMyJob .MyJob__hr {
  width: 2px;
  height: 90%;
  border-radius: 20px;
  background-color: var(--primary-black);
}
.AboutMyJob .MyJob-description {
  width: 40%;
  overflow-y: scroll;
}
.AboutMyJob .MyJob-description::-webkit-scrollbar {
  display: none;
}
.AboutMyJob .MyJob-description__p {
  margin-top: 10px;
  line-height: 25px;
}

.MySkills .SkillsTitle__h1 {
  font-size: 30px;
  color: var(--primary-light);
}
.MySkills .SkillsTitle__hr {
  width: 80%;
  height: 3px;
  background-color: var(--primary-light);
  border: none;
  border-radius: 20px;
}
.MySkills .skill-List .skill-List-item .skill-List-item__img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
}
.MySkills .skill-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
}
.MySkills .skill-modal::-webkit-scrollbar {
  display: none;
}
.MySkills .skill-modal .modal-content {
  background-color: var(--primary-light);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px 30px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 20px;
  /* The Close Button */
}
.MySkills .skill-modal .modal-content .modal__h1 {
  font-size: 2rem;
}
.MySkills .skill-modal .modal-content .modal__p,
.MySkills .skill-modal .modal-content .modal__h1 {
  color: var(--primary-black);
}
.MySkills .skill-modal .modal-content .modal__img {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}
.MySkills .skill-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.MySkills .skill-modal .modal-content .close:hover,
.MySkills .skill-modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.Projects .Projects-title .Projects-title__h1 {
  font-size: 30px;
  color: var(--primary-light);
}
.Projects .projects-list .project-list-item {
  border-radius: 50px 20px 20px 20px/50px 20px 20px 20px;
}
.Projects .projects-list .project-list-item .item-title h1 {
  font-size: 2rem;
}
.Projects .projects-list .project-list-item .item__img img {
  width: 400px;
  height: 240px;
  border-radius: 30px 0 20px 0/30px 0 20px 0;
}
.Projects .Project-modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  /* Modal Content/Box */
}
.Projects .Project-modal::-webkit-scrollbar {
  display: none;
}
.Projects .Project-modal .modal-content {
  background-color: var(--primary-light);
  margin: 15% auto;
  /* 15% from the top and centered */
  padding: 20px 30px;
  border: 1px solid #888;
  width: 60%;
  border-radius: 20px;
  /* The Close Button */
}
.Projects .Project-modal .modal-content .modal__h1 {
  font-size: 2rem;
}
.Projects .Project-modal .modal-content .modal__p,
.Projects .Project-modal .modal-content .modal__h1,
.Projects .Project-modal .modal-content .modal__btn_a,
.Projects .Project-modal .modal-content h3 {
  color: var(--primary-black);
}
.Projects .Project-modal .modal-content .modal__img {
  width: 60%;
  height: auto;
  border-radius: 20px;
}
.Projects .Project-modal .modal-content .maodal__btn {
  margin-top: 20px;
}
.Projects .Project-modal .modal-content .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.Projects .Project-modal .modal-content .close:hover,
.Projects .Project-modal .modal-content .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.footer {
  color: var(--primary-black);
  background-color: var(--primary-light);
}
.footer .footerTitle .footerTitle__h1 {
  font-size: 1.5rem;
}