:root {
  --body-black: #151922;
  --text-light: #F5EFE7;
}

.body--dark {
  background-color: var(--body-black);
  color: var(--text-light);
}

header {
  width: 100%;
  position: fixed;
  background-color: var(--text-light);
  color: var(--body-black);
}